<!--<main id="main" class="main border">
  <div class="pagetitle">
    <h1>Contact</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">Contact</li>
      </ol>
    </nav>
  </div>
  <section class="section">

      <div class="row my-3">
        <div class="col-lg-4">
          <h3> Dinh dang Date 1 : {{date1}}</h3>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-6">
          <label for="date1">Từ ngày :</label>
          <input type="date" id="date1" name="date1" [(ngModel)]="date1" />
        </div>
        <div class="col-lg-6">
          <label for="date2">Đến ngày :</label>
          <input type="date" id="date2" name="date2" [(ngModel)]="date2" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-4">
          <h3>Từ ngày : {{ date1 | date: 'yyyy-MM-ddTHH:mm:ss' }}</h3>
        </div>
        <div class="col-lg-4">
          <h3>Đến ngày : {{ date2 | date: 'yyyy-MM-ddTHH:mm:ss' }}</h3>
        </div>

      </div>-->
      <!--<div class="row">
        <div class="col-lg-3">
          <button class="btn btn-danger mb-2" (click)="getAll()">Get</button>
        </div>
      </div>-->
      <!--<div class="row my-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-center"><b>TABLE OF DTSU666 VALUES</b></h5>
              <table class="table shadow table-hover table-dark rounded" *ngIf="!isLoading && allCurrent">
                <thead>
                  <tr class="text-center">
                    <th scope="col">STT</th>
                    <th scope="col">NAME</th>
                    <th scope="col">A_sum</th>
                    <th scope="col">A_imp</th>
                    <th scope="col">A_exp</th>
                    <th scope="col">Q1</th>
                    <th scope="col">Q2</th>
                    <th scope="col">Q3</th>
                    <th scope="col">Q4</th>
                    <th scope="col">Uab</th>
                    <th scope="col">Ubc</th>
                    <th scope="col">Uca</th>
                    <th scope="col">Ua</th>
                    <th scope="col">Ub</th>
                    <th scope="col">Uc</th>
                    <th scope="col">Ia</th>
                    <th scope="col">Ib</th>
                    <th scope="col">Ic</th>
                    <th scope="col">Pft</th>
                    <th scope="col">Pfa</th>
                    <th scope="col">Pfb</th>
                    <th scope="col">Pfc</th>
                    <th scope="col">Qft</th>
                    <th scope="col">Qfa</th>
                    <th scope="col">Qfb</th>
                    <th scope="col">Qfc</th>
                    <th scope="col">Cosft</th>
                    <th scope="col">Cosfa</th>
                    <th scope="col">Cosfb</th>
                    <th scope="col">Cosfc</th>
                    <th scope="col">Hz</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="text-center " *ngFor="let pullcurrent of allCurrent; let i = index;">
                    <td>{{ i + 1 }}</td>
                    <td>{{ pullcurrent.Name}}</td>
                    <td>{{ pullcurrent.A_sum}}</td>
                    <td>{{ pullcurrent.A_imp}}</td>
                    <td>{{ pullcurrent.A_exp}}</td>
                    <td>{{ pullcurrent.Q1}}</td>
                    <td>{{ pullcurrent.Q2}}</td>
                    <td>{{ pullcurrent.Q3}}</td>
                    <td>{{ pullcurrent.Q4}}</td>
                    <td>{{ pullcurrent.Uab}}</td>
                    <td>{{ pullcurrent.Ubc}}</td>
                    <td>{{ pullcurrent.Uca}}</td>
                    <td>{{ pullcurrent.Ua}}</td>
                    <td>{{ pullcurrent.Ub}}</td>
                    <td>{{ pullcurrent.Uc}}</td>
                    <td>{{ pullcurrent.Ia}}</td>
                    <td>{{ pullcurrent.Ib}}</td>
                    <td>{{ pullcurrent.Ic}}</td>
                    <td>{{ pullcurrent.Pft}}</td>
                    <td>{{ pullcurrent.Pfa}}</td>
                    <td>{{ pullcurrent.Pfb}}</td>
                    <td>{{ pullcurrent.Pfc}}</td>
                    <td>{{ pullcurrent.Qft}}</td>
                    <td>{{ pullcurrent.Qfa}}</td>
                    <td>{{ pullcurrent.Qfb}}</td>
                    <td>{{ pullcurrent.Qfc}}</td>
                    <td>{{ pullcurrent.Cosft}}</td>
                    <td>{{ pullcurrent.Cosfa}}</td>
                    <td>{{ pullcurrent.Cosfb}}</td>
                    <td>{{ pullcurrent.Cosfc}}</td>
                    <td>{{ pullcurrent.Hz}}</td>
                    <td>
                      <div class="row  justify-content-arounded">
                        <div class="col ">
                          {{ pullcurrent.Date | date:'dd/MM/yyyy, HH:mm:ss  a' }}
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>-->
